@tailwind base;
@tailwind components;
@tailwind utilities;




#hero-grid {
	grid-template-areas: "hero";
}

#hero-grid::before {
	content: "";
	mix-blend-mode: screen;

	width: 100%;
	height: 100%;
	z-index: 2;
	/* background-image: linear-gradient(90deg,
			rgb(255, 255, 255, 0.9),
			rgb(255, 255, 255, 0.9),
			rgb(255, 255, 255, 0.9),
			rgb(255, 255, 255, 0.9),
			rgba(146, 146, 146, 0),
			rgba(146, 146, 146, 0),
			rgba(146, 146, 146, 0),
			rgba(146, 146, 146, 0) 100%); */
	background-color: #00000020;
	background-blend-mode: screen;
}

#hero-grid>img {
	/* mix-blend-mode: luminosity; */
	/* mix-blend-mode: soft-light; */
}


#hero-grid>*,
#hero-grid::before {
	grid-area: hero;
}


/* Scroll snap points */
#app,
#app>* {
	width: 100vw;
	height: 100vh;
}

#app {
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
}

#app>* {
	scroll-snap-align: start;

	overflow-y: auto;
}